<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>We are a small family run Maine Coon cattery located in central VT.
            Our cats are raised in our home where they receive much love, attention, and healthy nurturing. 
            Their temperments are sweet and their personalities are amiable and social.  Their beauty is 
            just a plus!
            Our bloodlines possess strong Maine Coon Cat characteristics to include size and demonstrate impressive Championships.</p>
      </div>
      <div class="col-lg-4">
        <p>We would love to share our beautiful,wild hearted,gentle giants into loving,forever homes.
Our kittens are DNA tested and leave with a health check and first shots.
           Our first litter is available for reserve!  Contact us for more info! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
